@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #f6f6f6;
  font-family: "Montserrat", sans-serif;
}

.cabecalho {
  padding: 2% 0 0 5%;
}

.cabecalho-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}

.menu-link {
  font-size: 1.5rem;
  font-weight: 600;
  color: #22d4fd;
  text-decoration: none;
}

.menu-link:hover {
  color: yellow;
}

.apresentacao {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10% 8%;
  gap: 5rem;
}

.apresentacao-conteudo {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.apresentacao-titulo {
  font-size: 2.25rem;
  font-family: "Krona One", sans-serif;
  color: #22d4fd;
  text-align: center;
  padding: 5%;
}

.apresentacao-titulo:hover {
  color: yellow;
}

.apresentacao-paragrafo,
.conteudo-texto {
  font-size: 1.5rem;
  text-align: justify;
}

.apresentacao-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.apresentacao-links-subtitulo {
  font-family: "Krona One", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

.apresentacao-links2 {
  width: 50%;
  text-align: center;
  border-radius: 8px;
  font-size: 1.5rem;
  padding: 21.5px 0;
  text-decoration: none;
  color: #f6f6f6;
  font-weight: bold;
  border: 2px solid #22D4FD;
  display: flex;
  justify-content: center;
  gap: 16px;
  transition: all 0.3s ease;
}

.apresentacao-links2:hover {
  background-color: yellow;
  color: white;
  cursor: pointer;
}

footer {
  text-align: center;
  background-color: red;
  color: white;
  font-weight: 400;
  font-size: 0.875rem;
  padding: 12px;
}

span {
  color: yellow;
}

@media (min-width: 344px) and (max-width: 1080px) {
  body {
    background-color: #ff4e44;
  }
  .cabecalho {
    padding: 10%;
  }
.cabecalho-menu {
    justify-content: center;
  }
.apresentacao {
    flex-direction: column-reverse;
    padding: 5%;
  }
.apresentacao-conteudo {
    width: auto;
  }
.destaque {
    color: orange;
  }

  #imagem-principal {
    border-color: #22d4fd;
    width: 40%;
  }
}
